nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh;
  font-size: 1.5em;  
}

nav > a {
  text-decoration: none;
  padding: 0.5vw;
}

table  {
  background-color: lightblue;
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10vh;
  border-collapse: collapse;
  width: 100%;
}

.view{
  background-color: aqua;
}

th {
 
  text-decoration: underline;
  font-size: 20px;
  padding: 4vh;
  
}

td {
  padding: 1vh;
  width: 500px;
  display: flex;
  height: 30px;
  justify-content: space-around;
  flex-direction: column;
  font-size: 15px;
}

main {
  background-color: grey;
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App {
  text-align: center;
  padding: 0.5em 0.5em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1vh;
  margin: 5vh;
  background-color: lightblue;
  gap: 5px
}

form > input {
  margin: 1vh;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  padding: 1vh;
}

footer > li {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* table,th,td{
  border: 1px solid;
} */

#employees, .formContainer {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: flexbox;
  flex-direction: row;
  
  justify-content: space-around;
  align-items: center;
}

#employees td, #employees th {
  border: 1px solid #ddd;
  padding: 8px;
}

#employees tr:nth-child(even){background-color: #f2f2f2;}

#employees tr:hover {background-color: #ddd;}

#employees th, .formContainer label {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}


form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
/* .newFormContainer, .editFormContainer{
  border-style: dashed;
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
} */

/* .outsideContainer{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
} */
