nav {
  display: flex;
  justify-content:space-around ;
  align-items: center;
  padding: 1vh;
  font-size: 1.5em;
}

nav :last-child, footer:last-child{
  padding-right: 300px;
   
}

nav > a {
  text-decoration: none;
  padding: 0.5vw;
  
}

table  {
  background-color: lightblue;
  display:flex;
  justify-content: center;
  flex-direction: row;
  /* align-items: center; */
  padding: 10vh;
  border-collapse: collapse;
  width: 100%;
}
.view{
  background-color: aqua;
}
th {
  text-decoration: underline;
  font-size: 15px;
  padding: 4vh;
  width: 200px;
}
td{
  padding: 1vh;
  width: 200px;
  display: flex;
  height: 30px;
  justify-content: space-around;
  flex-direction: column;
  font-size: 15px;
}
.table-tr{
  display: flex;
} 
main {
  background-color:  grey;
  height: 50vh;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
h2{
  padding-bottom: -50px;
}
.App {
  text-align: center;
  padding: 0.5em 0.5em;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5vh;
  margin: 5vh;
  background-color: lightblue;
  gap: 0px;
}
form > input {
  margin-bottom: 5px;
}
form * {
  font-size: 28px;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  padding: 1vh;
  margin-bottom: none;
}

footer > li {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
table,th,td{
  border: 1px solid;
  
} */


#employees td, #employees th {
  border: 1px solid #ddd;
  padding: 8px;

}

/* #employees tr:nth-child(even){background-color: #f2f2f2; }

#employees tr:hover {background-color: #ddd;} */

#employees th, .formContainer label {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
/* form td:last-child {
  display: flex;
  justify-content: space-around;
  height: 50px
}  */
 button{
  height: 50px;
  width: 50px;
  text-align: center;
  /* display: flex;
  justify-content: space-around;
  flex-direction: column; */
} 
.btnOne{
  display: inline;
  text-align: center;
  margin-left: 20px;
}
/* .btnOne :first-child(
  margin-top: -5px;
)   */
.btnTwo{
  margin-left: -100px;
  width: 50px;
  height: 30px
}

/* #employees tr:nth-child(even){background-color: #f2f2f2; }
/* .newFormContainer, .editFormContainer{
  border-style: dashed;
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
} */

/* .outsideContainer{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
} */

@media screen and (max-width:824px) {
  body{
    background-color: lightslategray;
  }
  .tbody{
    min-width: none;
    
  }
  Table{
    min-width: 800px;
  }
  /* .nav */
}
  
